body {
  color: white;
  background-color: black;
  font-family: "Press Start 2P", monospace;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

body:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: repeating-linear-gradient(#0D122B, #0D122B 2px, #565B73 2px, #565B73 4px);
  opacity: 0.2;
  z-index: 100;
  content: "";
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}
