body {
  color: white;
  background-color: black;
  font-family: "Press Start 2P", monospace;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

body:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: repeating-linear-gradient(#0D122B, #0D122B 2px, #565B73 2px, #565B73 4px);
  opacity: 0.2;
  z-index: 100;
  content: "";
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}


/* Router Transition */
.list-item {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
}

.list-item:last-child {
  margin-bottom: 0;
}

.transition-wrapper {
  position: relative;
  z-index: 1;
}

.transition-wrapper .transition-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.detail-page {
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  /* background-color: #03a9f4; */
  transition: transform 0.5s, opacity 0.5s;
}

.detail-page.transition-appear {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.detail-page.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.list-page {
  overflow: auto;
  box-sizing: border-box;
  height: 100vh;
  transition: transform 0.5s, opacity 0.5s;
  transform: translate3d(0, 0, 0);
}

.list-page.transition-appear {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.list-page.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.list-page.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.list-page.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

